@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #f2f2f2;
  color: #262526;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 700;
}
p {
  font-size: 1.1rem;
}
header {
  margin: 1rem;
  margin-left: 2rem;
  font-weight: 700;
  font-size: 1.3rem;
}
main {
  padding: 1rem;
  margin-top: 0;
  flex: 1;
}
main section {
  max-width: 720px;
  margin: 0 auto;
}

.categories {
  margin: 1rem 0;

  a {
    font-size: 2rem;
    font-weight: 700;
  }
}

.post__card {
  border-radius: 5px;
  padding: 1rem;
  background: rgba(gray, 0.2);

  & + & {
    margin-top: 1rem;
  }

  display: flex;
  justify-content: space-between;

  .right {
    background: royalblue;
    color: white;
    height: max-content;
    padding: 5px;
    font-size: 0.8rem;
    margin-left: 1rem;
  }
}

a {
  text-decoration: none;
  color: black;
}
.post__tags {
  display: flex;
  list-style: none;

  li {
    padding: 0 4px;
    background: rgba(blue, 0.2);
    margin-top: 10px;
    border-radius: 3px;
  }
  li + li {
    margin-left: 5px;
  }
}

// blog

.post__meta {
  margin-top: 10px;
  color: gray;

  span + span {
    margin-left: 1rem;
    color: black;
  }
}
.post {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;
}

.post__body {
  margin-top: 1rem;

  h2 {
    margin-top: 2.4rem;
  }

  & > * {
    margin: 1rem 0;
  }

  p > code {
    background-color: rgba(blue, 0.4);
    padding: 1px 5px;
    display: inline-block;
    border-radius: 4px;
  }
  a {
    text-decoration: underline;
    color: blue;
  }

  ol {
    margin-left: 1rem;
  }
}

.note-block {
  background: #ffee58;
  padding: 1rem;
  border-radius: 10px;
}
.clicommand {
  padding: 10px;
  // background: rgba(skyblue, 0.4);
  background: #011627;
  color: #f2f2f2;
  margin: 1rem 0;
  border-radius: 7px;
}

.read-more {
  padding: 5px 10px;
  width: max-content;
  background: rgba(blue, 0.4);
  margin-top: 1rem;
}

pre {
  // margin: 1rem 0 !important;
  border-radius: 7px;
  overflow: auto;
  & + & {
    margin-top: 1.5rem !important;
  }

  code {
    font-family: "Fira Mono", monospace !important;
  }
}

.related-content {
  margin-top: 2rem;
}

footer {
  margin-top: 2rem;
  align-self: center;
  padding: 1rem;
  justify-self: center;
}
