*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 1em;
  margin-left: 2em;
}
main {
  margin-top: 0;
}
main > section {
  max-width: 720px;
  margin: 0 auto;
  padding: 1em;
}

.post__card {
  border-radius: 5px;
  padding: 1em;
  background: rgba(gray, 0.2);

  & + & {
    margin-top: 1em;
  }
}

a {
  text-decoration: none;
  color: black;
}
.post__tags {
  display: flex;
  list-style: none;

  li {
    padding: 0 4px;
    background: rgba(blue, 0.2);
    margin-top: 10px;
    border-radius: 3px;
  }
  li + li {
    margin-left: 5px;
  }
}

// blog

.post__meta {
  display: block;
  margin-top: 10px;
  color: gray;
}
.post {
  max-width: 720px;
  margin: 0 auto;
}

.post__body {
  margin-top: 1em;

  & > p {
    margin-top: 1em;
  }
}

.clicommand {
  padding: 10px;
  background: rgba(skyblue, 0.4);
  border-radius: 7px;
}

pre {
  padding: 10px;
  border-radius: 7px;
}

// clipboard button

.copy-code-button {
  color: #272822;
  background-color: #fff;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;

  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-top: 1em;
  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
  background-color: #e6e6e6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #d9d9d9;
}

h2 {
  margin-top: 1em;
}
