{% macro rc(path,page) %} 
<div class="related-content">
  {% set path = path %}
  {% set section = get_section(path=path) %}

  <section>
    {% for month, posts in section.pages | group_by(attribute="month")%} 
      {% for post in posts %}
      {% if post.permalink != page.permalink and loop.index <= 5 %}
        <div class="post__card">
          <div class="left">
            <h2>
              <a href="{{ post.permalink }}">{{ post.title }}</a>
            </h2>
            <span class="post__meta">
              {% if post.date %} {{post.date | date(format="%v")}} {% endif %}
            </span>
          </div>
          {% if post.extra.tag %}
          <div class="right">
            <h2>{{post.extra.tag}}</h2>
          </div>
          {% endif %}
        </div>
      {% endif %}
      {% endfor %} 
    {% endfor %}
  </section>
</div>
 {% endmacro rc %}
