{% if oneline %}
  <pre>
    <code>
      {{ body | safe}}
    </code>
  </pre>
{% else %}
  <pre
    class="{% if lang %}language-{{ lang }}{% endif  %}
           {% if number %} line-numbers{% endif  %}"
           {% if line %} data-line="{{line}}"{% endif  %}
           {% if start %} data-start="{{start}}"{% endif  %}
           {% if prompt %} data-prompt="{{prompt}}"{% endif  %}
           {% if output %} data-output="{{output}}"{% endif  %}
                           >
          <code class="{% if lang %}language-{{ lang }}{% endif  %}">
            {{body | safe}}
          </code>
  </pre>
{% endif %}
