{% extends "base.html" %} {% block body %}
<main>
  <section>
    {% for month, posts in section.pages | group_by(attribute="month")%} 
    {% for post in posts %}
    <div class="post__card">
      <h2>{{ post.title }}</h2>
      <span class="post__meta">
        {% if post.date %} {{post.date | date(format="%Y-%m-%d")}} {% endif %}
      </span>
        {% if post.taxonomies.tags %}
      <ul class="post__tags">
          {% for tag in post.taxonomies.tags %}

          <li>

    <a href="{{get_taxonomy_url(kind="tags", name=tag) | safe}}">{{tag}}</a>
          </li>

          {% endfor %}


      </ul> 
        {% endif %}

        <div class="read-more">
          <a href="{{post.permalink}}">Read More</a>

        </div>
    </div>
    {% endfor %} {% endfor %}
  </section>
</main>
{% endblock body %}
