{% import "macros/rc.html" as rc %}
{% extends "base.html"%} 
{% block body %}
  {% block content%}
    <div class="post">
      <h1>{{ page.title | safe }}</h1>
      <div class="post__meta">
        {% if page.date %}<span>{{page.date | date(format="%Y-%m-%d")}} </span>{% endif %}
      {% if page.extra.tag %}
        <span>{{page.extra.tag}}</span>
      {% endif %}
      </div>

      <div class="post__body">
        {{ page.content | safe }}
      </div>
      {{rc::rc(path="_index.md", page=page)}}
    </div>
  {% endblock content %}
{% endblock body %}
